<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Require + MVC</title>
    <script data-main="js/app" src="js/require.js"></script>
    <script src="js/tmpl.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<script type="text/template" id="wrapper-template">
    <div class="wrapper">
        <h3>Tech Skills:</h3>
        <ul class="item-list"></ul>
        <div class="controlls">
            <input type="text" class="item-val">
            <button class="item-add">Add skill</button>
        </div>
    </div>
</script>

<script type="text/template" id="list-template">
    <% for (var i = 0; i < data.length; i++) { %>
    <li class="listItem">
        <span data-item="<%= data[i] %>" class="item-del">&#10060;</span>
        <%= (i+1) %>.
        <div class="activeTask"> <%= data[i] %>
            <input data-main="<%= data[i] %>" class="item-edit" type="text" value="">
        </div>
        <div>&#10003;</div>
    </li>

    <% }; %>
</script>
</body>
</html>